.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.section {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.section > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.freeBox__owKs6 {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: sticky;
  background: linear-gradient(
      var(--token-Fsn4Gk2kUkOR),
      var(--token-Fsn4Gk2kUkOR)
    ),
    url("/plasmic/naturalmentemare/images/shifaazShamoon9K9IpjhDdksUnsplashjpg.jpg") top 50% left 50% / cover repeat scroll;
  left: 0px;
  top: 0px;
  z-index: 1;
  opacity: 1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 16px;
}
.freeBox__owKs6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__owKs6 > :global(.__wab_flex-container) > *,
.freeBox__owKs6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__owKs6 > :global(.__wab_flex-container) > picture > img,
.freeBox__owKs6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__owKs6 {
    padding: 32px;
  }
}
.freeBox__cgufH {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.freeBox__cgufH > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__cgufH > :global(.__wab_flex-container) > *,
.freeBox__cgufH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cgufH > :global(.__wab_flex-container) > picture > img,
.freeBox__cgufH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cgufH {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cgufH > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cgufH > :global(.__wab_flex-container) > *,
  .freeBox__cgufH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__cgufH > :global(.__wab_flex-container) > picture > img,
  .freeBox__cgufH
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.button2__aadLy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
}
.svg__zusmQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.img__raWTv {
  object-fit: cover;
  width: 60px;
  height: 60px;
  position: relative;
}
.img__raWTv > picture > img {
  object-fit: cover;
}
.text__mzzTk {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__uOiT1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__vfrj {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__vfrj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__vfrj > :global(.__wab_flex-container) > *,
.freeBox__vfrj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vfrj > :global(.__wab_flex-container) > picture > img,
.freeBox__vfrj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vfrj > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vfrj > :global(.__wab_flex-container) > *,
  .freeBox__vfrj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vfrj > :global(.__wab_flex-container) > picture > img,
  .freeBox__vfrj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button2__qEqHz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg___4K6MU {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__rW4K {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___258J {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button2__aHj1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__wW7Dy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ls0Zg {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__stiQp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button2__mlGmy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__o44L {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___9PhN {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  padding-top: 0px;
  padding-right: 0px;
}
.svg___58Ac {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button2__yzQeu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__dWUqE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___6Whai {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  padding-top: 0px;
  padding-right: 0px;
  height: auto;
}
.svg__jHxg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button2__xoKhL:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__wo0Q {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wcFs {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___3FrEc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___0EHpI {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button2___38Z9D:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg___7CmgG {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__o394I {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__qOZoh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.link__xy8Zq {
  position: relative;
}
.link__vlC6U {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
  filter: blur(0px);
  padding: 8px;
}
.svg__mMi31 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__lTaPa {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  margin-right: 0px;
  font-style: normal;
  text-align: left;
  padding-left: 0px;
}
.freeBox__pp2JI {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  background: var(--token-Fsn4Gk2kUkOR);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 64px;
}
.freeBox__oFlGb {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  background: var(--token-Fsn4Gk2kUkOR);
  min-width: 0;
  padding: 64px;
}
.columns {
  display: flex;
  position: relative;
  max-width: 960px;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  --plsmc-rc-col-gap: 64px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__aj3XC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
  padding-right: 0px;
  overflow: visible;
  padding-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__aj3XC {
    width: 100%;
  }
}
.freeBox__qVTbz {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__qVTbz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__qVTbz > :global(.__wab_flex-container) > *,
.freeBox__qVTbz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qVTbz > :global(.__wab_flex-container) > picture > img,
.freeBox__qVTbz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.img__csUri {
  object-fit: contain;
  width: 40px;
  height: 40px;
  position: relative;
  opacity: 1;
  flex-shrink: 0;
}
.img__csUri > picture > img {
  object-fit: contain;
}
.freeBox__mDx2 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__mDx2 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__mDx2 > :global(.__wab_flex-container) > *,
.freeBox__mDx2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mDx2 > :global(.__wab_flex-container) > picture > img,
.freeBox__mDx2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__bsvVw {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___1Rq5R {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 15px;
}
.freeBox___1Rq5R > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___1Rq5R > :global(.__wab_flex-container) > *,
.freeBox___1Rq5R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1Rq5R > :global(.__wab_flex-container) > picture > img,
.freeBox___1Rq5R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__k9TtD {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
.svg__awcS {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
.text__mLbts {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__yr1Z {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 15px;
}
.freeBox__yr1Z > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__yr1Z > :global(.__wab_flex-container) > *,
.freeBox__yr1Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yr1Z > :global(.__wab_flex-container) > picture > img,
.freeBox__yr1Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__cXqxz {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
.text__mbWd0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.freeBox__fqyXn {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 0px;
}
.freeBox__fqyXn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fqyXn > :global(.__wab_flex-container) > *,
.freeBox__fqyXn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fqyXn > :global(.__wab_flex-container) > picture > img,
.freeBox__fqyXn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__g5QGg {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  margin-bottom: 9px;
  flex-shrink: 0;
}
.text__sApty {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.text__mX2Ie {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__iw8Qr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.text___4X0L6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  margin-bottom: 19px;
  min-width: 0;
}
.img__cCyOx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__cCyOx > picture > img {
  object-fit: cover;
}
.column__qwt2V {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__qwt2V {
    width: 100%;
  }
}
.column__gfDip {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__gfDip {
    width: 100%;
  }
}
.freeBox___0BMt7 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 64px;
  padding-right: 32px;
  padding-left: 32px;
  background: none;
  width: auto;
}
.freeBox___0BMt7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___0BMt7 > :global(.__wab_flex-container) > *,
.freeBox___0BMt7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0BMt7 > :global(.__wab_flex-container) > picture > img,
.freeBox___0BMt7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.foreground3 {
  display: flex;
  position: relative;
  max-width: 1080px;
  align-self: center;
}
.foreground3 > :global(.__wab_flex-container) {
  align-items: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground3 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground3 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground3 > :global(.__wab_flex-container) > *,
  .foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .foreground3 > :global(.__wab_flex-container) > picture > img,
  .foreground3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__oagNs {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  max-width: 640px;
  background: #ffffff;
  min-width: 0;
  border-radius: 16px;
}
.freeBox__oagNs > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__oagNs > :global(.__wab_flex-container) > *,
.freeBox__oagNs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oagNs > :global(.__wab_flex-container) > picture > img,
.freeBox__oagNs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox___55R0L {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  box-shadow: 0px 10px 10px 0px #00000026;
  border-radius: 16px;
}
.freeBox___34EbA {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  background: #e5e5ea;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__nOv53 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 64px;
  padding-right: 32px;
  padding-left: 32px;
  background: none;
  width: 100%;
  min-width: 0;
}
.freeBox__nOv53 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__nOv53 > :global(.__wab_flex-container) > *,
.freeBox__nOv53 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nOv53 > :global(.__wab_flex-container) > picture > img,
.freeBox__nOv53
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.foreground6 {
  display: flex;
  position: relative;
  max-width: 1080px;
  align-self: center;
}
.foreground6 > :global(.__wab_flex-container) {
  align-items: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground6 > :global(.__wab_flex-container) > *,
.foreground6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground6 > :global(.__wab_flex-container) > picture > img,
.foreground6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground6 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground6 > :global(.__wab_flex-container) > *,
  .foreground6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .foreground6 > :global(.__wab_flex-container) > picture > img,
  .foreground6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__qw1Wb {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  max-width: 640px;
  background: #ffffff;
  min-width: 0;
  border-radius: 16px;
}
.freeBox__qw1Wb > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__qw1Wb > :global(.__wab_flex-container) > *,
.freeBox__qw1Wb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qw1Wb > :global(.__wab_flex-container) > picture > img,
.freeBox__qw1Wb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__s32Mc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  box-shadow: 0px 10px 10px 0px #00000026;
  border-radius: 16px;
}
.freeBox__w2RrI {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__w2RrI > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__w2RrI > :global(.__wab_flex-container) > *,
.freeBox__w2RrI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w2RrI > :global(.__wab_flex-container) > picture > img,
.freeBox__w2RrI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__lLjZp {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__lLjZp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__lLjZp > :global(.__wab_flex-container) > *,
.freeBox__lLjZp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lLjZp > :global(.__wab_flex-container) > picture > img,
.freeBox__lLjZp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.textbox3 {
  width: 100%;
  position: relative;
  padding-bottom: 11px;
  padding-left: 15px;
  padding-top: 11px;
  min-width: 0;
  border-radius: 6px;
  border: 1px solid #e5e5ea;
}
.textbox6 {
  width: 100%;
  position: relative;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 15px;
  color: #535353;
  min-width: 0;
  border-radius: 6px;
  border: 1px solid #e5e5ea;
}
.textArea2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__q4CcV {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.dateTimePicker5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  margin-right: 9px;
}
.dateTimePicker6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  margin-right: 9px;
}
.tooltip:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-height: 50px;
  margin-right: 9px;
}
.select6:global(.__wab_instance) {
  max-width: 100%;
}
.select4:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 10px;
}
.button2__xWeeX:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__wZAhQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ey0Xv {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__aGb29 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__n26Zk {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  background: #e5e5ea;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__pPe4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #f2f2f7;
  padding: 32px;
}
.text__r3T0Y {
  position: relative;
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
